*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Roboto', sans-serif;
} 
h1{
text-align: center;
font-weight: 800;
font-size: 2rem;
}
main{
    margin: 30px;
 display: flex;
 justify-content: center;
}

.container{
 border: solid 1px  rgb(214, 214, 214); 
 width: 900px; 
 height: auto;
 display: flex;
}
.hoja{
 width: 100%;
 height: 100%;
 display: flex;
}
.Infoperosnal{
    background:  rgb(66, 91, 228);
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: antiquewhite;

}
.general{

 height: 100%;
 width: 70%;
}

.img_personal{
    width: 200px;
    height: 150px;
    margin: 15px;
    align-items: center;
   
    
}

.img_personal img{
    margin-top: 30px;
    width: 100%;
    border-radius: 50%;
    height:100%;
    background-position: center;
   

}
.Perfil{
 margin-top: 50px;
}
.Perfil h3{
text-align: center;
margin-top: 30px;
}

.Perfil ul {
list-style: none;
margin-top: 15px;
padding-left: 15px;
}
.info_personal{
background-color: rgb(66, 91, 228);
color: aliceblue;
height: 200;
padding-top: 30px;
border: 1px solid rgb(214, 214, 214);
}
.subtitulo{
 font-size: 2rem;
}
.info_personal h4,p{
    padding-left:15px;
 }
 p a{
 text-decoration: none;
 color:rgb(255, 255, 255);
 cursor: pointer;
 }
 p a:hover{
  color: blue;
 
 }

 .item{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    background: rgb(66, 91, 228); 
    color: white;
    font-weight: 800
 }
 spam{
  padding-left: 5px;
 }

 .experiencia{
    height: 150px;
    
}
.expert{
    margin-top: 20px;
    padding-left:15px;
}

.expert ul{
 padding-left:15px;
 font-style: bold;
}
.habilidades {
    height: auto;
    border: 2px solid rgb(163, 163, 161);  
    display: flex;
    justify-content: center;
    margin: 20px;

}
.habilidades table {
    border-collapse: collapse;
    width: 50%;
    margin-bottom: 30px;
  }

.habilidades  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #afa8a8;
    color: black;
  }
 
  

.interes{
    margin-left: 15px;
   
}
.interes table {
    border-collapse: collapse;
    width: 50%;
    margin-bottom: 30px;
  }

.interes  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #afa8a8;
  }
  .interes  tr:hover {background-color: rgb(49, 19, 219);}

 
.contacto{

height: 300px;
display: flex;
justify-content: center;

}

form{
margin: 40px;
border-radius: 15px;
border: 2px solid rgb(214, 214, 214);   
width: 400px;
height: 200px;
display: flex;
flex-direction: column;
align-items: center;
background-color: rgb(66, 91, 228); 
}
label{
margin-top: 15px;
margin-bottom: 15px;
}
input,textarea{
 width: 90%;

}

textarea{
  height: 80px;
  padding-bottom: 15px;
}
button{
    margin: 15px;
    width: 30%;
    height: 40px;
    border:none;
    background-color: white;
    border-radius: 16px;
    color:black;
    font-size: 1rem;
    
    
     
}
